.ProfilePic{
  width: 60%;
  padding: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 50px;
}

.ProfilePic h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid #DDDDDD;
}

.pic__wrapper {
  height: 250px;
  width: 250px;
  position: relative;
  border: 5px solid white;
  border-radius: 50%;
  /* background-size: 100% 100%; */
  margin: 20px auto;
  overflow: hidden;
}

.pic__wrapper img {
  width: 100%;
  height: 100%;
}

.choosePicture {
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
  /* z-index: 1; */
  opacity: 0;
}

.choosePicture input[type="file"] {
  display: none;
}

.choosePicture::-webkit-file-upload-button {
  visibility: none;
}

.choosePicture::before {
  content: '\f030';
  font-family: fontAwesome;
  font-size: 50px;
  color: white;
  display: inline-block;
  /* -webkit-user-select:none; */
}

.choosePicture::after {
  content: 'Upload';
  font-family: 'arial';
  font-weight: bold;
  color: white;
  display: block;
  /* top: 70px; */
  font-size: 14px;
  margin-left: 3px;
}

.choosePicture:hover {
  opacity: 1;
}

.updateProfile__submit {
  color: white;
  background-color: #0056b3;
  border-radius: 5px;
  font-size: large;
  border: none;
  padding: 10px;
  display: flex;
  margin: 0px auto;
}

.updateProfile__submit:hover {
  background-color: #516CF0;
}

.profPicUpdate__success {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #999999;
  font-weight: bold;
  font-size: large;
}

.profPicUpdate__success img {
  height: 25px;
  margin-right: 10px;
}