.Home{
  padding-top: 60px;
  min-height: 85vh;
}

.welcome__wrapper{
  
  width: 65%;
  margin: 0px auto;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.welcome__user{
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
  margin: 0px;
  /* border: 1px solid black; */
}

.welcome__wrapper button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #516CF0;
}

.welcome__wrapper a {
  text-decoration: none;
}

.welcome__wrapper button:hover{
  background-color: #FE8402;
  cursor: pointer;
}

.welcome__wrapper button a{
  text-decoration: none;
  color: white;
}

.questionsAsked{
  margin-top: 30px;
  width: 65%;
  margin: 0px auto;
  margin-bottom: 50px; 
}

.questions__list{
  width: 100%;
}

.questionsAsked h2{
  padding-bottom: 5px;
  margin-bottom: 0px;
  /* border-bottom: 1px solid #DDDDDD; */
}

.welcome__wrapper h2{
  margin-right: 10px;
}

.question__search {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center;0 */
  width: 25%;
  margin-top: 30px;
}

.question__search input{
  padding: 5px 20px 5px 10px;
  width: 100%;
  border: 1px solid #a19e9e;
  border-radius: 5px;
  /* margin-left: -100px; */
}

.question__search input:focus{
  outline: none;
  border: 1px solid #516CF0;
}

.questions__header {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
}

.questions__topics{
  /* border: 1px solid black; */
  width: 90%;
  margin-left: 30px;
  display: flex;
  align-items: flex-end;
  overflow-x: scroll;
}

.questions__topics::-webkit-scrollbar {
  display: none;
}

.noMatch {
  color: #a19e9e;
  border-top: 1px solid #DDDDDD;
}