.Question{
  display: flex;
  height: 82px;
  border-bottom: 1px solid #DDDDDD;
  padding-top: 10px;
  margin-bottom: 10px;
}

.userInfo{
  width: 10%;
  /* margin-top: -10px; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo__wrapper{
  width: 125%;
  padding: 5px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo__wrapper p{
  margin-top: 0px;
}
/* 
.userInfo__wrapper img{
  width: 90%;
} */

.question__content{
  margin-left: 50px;
  text-decoration: none;
  width: 90%;
  color: black;
}

.question__content h3 {
  margin-top: -5px;
  width: 90%;
}

.question__content p {
  width: 70%;
  margin-top: -10px;
  margin-left: 10px;
  color: #999999;
}

.forwardIcon{
  margin-top: 25px;
  height: inherit;
}

