.Question{
  display: flex;
  /* height: 85px; */
  border-bottom: 1px solid #DDDDDD;
  padding-top: 10px;
  /* margin-bottom: 10px; */
  align-items: center;
  /* justify-content: center; */
}

.Question:hover {
  background-color: #FAFAFA;
}

.userInfo{
  width: 10%;
  /* margin-top: -10px; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo__wrapper{
  width: 130%;
  padding: 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo__wrapper img {
  /* width: 80px; */
  height: 75px;
  border-radius: 50%;
}

.userInfo__wrapper p{
  margin: 0px 0px 5px;
}

.question__content{
  display: flex;
  /* justify-content: space-between; */
  text-decoration: none;
  width: 80%;
  color: black;
}

.question__content__main{
  width: 98%;
}

.question__content h3 {
  margin-top: -10px;
  width: 90%;
}

.question__content p {
  width: 95%;
  margin-top: -10px;
  margin-left: 3px;
  color: #383B40;
}

.forwardIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}

/* .reaction__vote{
  max-height: 95%;
  width: 7%;
  margin: -5px 15px 0px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .reaction__vote div {
  
  align-items: center;
} */

.timeAndNum__wrapper {
  padding: 0px 0px 0px 20px;
  display: flex;
  justify-content: space-between;
}

.numOfAnswers{
  /* display: flex; */
  /* justify-content: space-between; */
  /* right: 10px; */
  margin-top: -15px;
  margin-right: 15px;
  color: #2D358E;
  font-size: large;
  font-weight: bold;
}

.timeLapsed__wrapper {
  margin-top: -12px;
  color: black;
  /* display: flex;
  justify-content: right; */
}

/* .thumbIcon{
  color: yellowgreen;
  transform: rotate(90deg);
} */
/* 
 

.upVote{
  transform: rotate(90deg);
  color: #999999;
}

.reaction__count{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: -3px 0px 0px;
  color: #2D358E;
}

.downVote{
  transform: rotate(-90deg);
  color: #999999;
}

.upVote:hover, .downVote:hover {
  color: #2D358E;
}

.lockedVote{
  color: #2D358E;
} */