
.Answer{
  padding: 100px 0px;
  width: 70%;
  margin: 0px auto;
  min-height: 50vh;
}

.questionAns__wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.questionAns__wrapper h2 {
  /* margin-bottom: ; */
  padding-bottom: 5px;
  width: 85%;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 0px;
}

.vote__wrap {
  width: 7%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* justify-content: center; */
}

.questionAsked p{
  width: 85%;
}

.questionTitleDescr{
  margin-left: 20px;
  /* margin-top: 10px; */
}

.questionTitleDescr p {
  margin: 0px;
}

.voteQuestion__wrapper{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.timeLaps__wrap {
  display: flex;
  margin: 5px 10px;
  color: #2D358E;
  /* justify-content: left; */
}

.titleTimeLaps__wrap {
  width: 85%;
  display: flex;
  align-items: center;
  margin: 5px 0px;

}

.titleTimeLaps__wrap h3 {
  margin: 0px;
}

.timeLaps__wrap .timeLapsed {
  /* font-weight: bolder; */
  color: #2D358E;
}

.answerButton{
  margin-top: 10px;
  width: 120px;
  border: none;
  border-radius: 5px;
  padding: 12px 5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: gray;
  align-self: flex-start;
}

.answerButton:hover{
  background-color: #FE8402;
}

.previous__answers{
  width: 100%;
}

.ansAndNum__wrapper{
  display: flex;
  border-bottom: 2px solid #DDDDDD;
  border-top: 2px solid #DDDDDD;
  margin: 15px 0px 0px;
  padding-left: 10px;
  align-items: center;
}

.ansAndNum__wrapper p, .ansAndNum__wrapper h2 {
  margin: 0px;
  padding: 8px 0px;
}

.ansAndNum__wrapper p{
  margin-left: 20px;
  color: #2D358E;
  font-size: larger;
  font-weight: bold;
}

.answer__form{
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  
}

.answer__formHide {
  display: none;
}

.answer__form h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

.answer__description{
  width: 100%;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  height: 150px;
  resize: none;
  margin-bottom: 20px;
  padding: 20px;
}

.answer__description:focus{
  outline: none;
  border: 3px solid #FE8402;
}

.answer__post{
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 12px 5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: #516CF0;
  align-self: flex-start;
}

.answer__post:hover{
  background-color: #FE8402;
}

.questionOperations {
  display: flex;
  justify-content: flex-end;
}

.editQuestion, .deleteQuestion{
  margin: 0px 10px;
}

.editQuestion{
  color: #FE8402;
}

.deleteQuestion{
  color: brown;
}

.editQuestion:hover{
  font-weight: bold;
  cursor: pointer;
}

.deleteQuestion:hover{
  font-weight: bold;
  cursor: pointer;
}