.Answer {
  min-height: 60vh;
}

.question__header {
  border-bottom: 2px solid #DDDDDD;
  border-top:  2px solid #DDDDDD;
  margin: 5px 0px;
}

.question__header h2 {
  margin: 8px 0px;
  padding-left: 30px;
}

.question__wrapper{
  display: flex;
  justify-content: space-evenly;
}

.question__descr {
  width: 80%;
}

.question__descr h4{
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: larger;
}

.vote__wrapper {
  display: flex;
  align-items: center;
}

.answer__header{
  display: flex;
  align-items: center;
  border-bottom: 2px solid #DDDDDD;
  border-top:  2px solid #DDDDDD;
  margin-bottom: 10px;
}

.answer__header h2 {
  margin: 5px 0px;
  padding-left: 20px;
}

.answer__content{
  display: flex;
  margin: 0px 0px 10px 30px;
}

.answer__content p{
  /* width: 60%; */
  line-height: 1.5;
  margin: 5px 0px 10px 30px;
}